<div class="row" style="text-align: center">
    <button class="retry" onclick="location.reload();">Retry</button>
    <br>
    <h2 id="message"></h2></div>
<br>
<div id="game-wrapper">
<br>
    <div class="board-row-1 board-row">
        <button class="box" id="A1" ng-click="markSquare($event);">-</button>
        <button class="box" id="A2" ng-click="markSquare($event);">-</button>
        <button class="box" id="A3" ng-click="markSquare($event);">-</button>
    </div>
    <div class="board-row-2 board-row">
        <button class="box" id="B1" ng-click="markSquare($event);">-</button>
        <button class="box" id="B2" ng-click="markSquare($event);">-</button>
        <button class="box" id="B3" ng-click="markSquare($event);">-</button>
    </div>
    <div class="board-row-3 board-row">
        <button class="box" id="C1" ng-click="markSquare($event);">-</button>
        <button class="box" id="C2" ng-click="markSquare($event);">-</button>
        <button class="box" id="C3" ng-click="markSquare($event);">-</button>
    </div>
</div>
